.section-features {
  margin-top: 120px;
  margin-bottom: 120px;
}

.features-list {
  display: flex;
  column-gap: 24px;
}

.features-item {
}

.features-title {
  padding-bottom: 8px;
}

.features-title,
.features-paragraph {
  text-align: left;
}
