.header-container {
  border-bottom: 1px solid var(--cornflower);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-nav {
  flex-grow: 1;
  padding-left: 76px;
}

.header-nav-list {
  display: flex;
  column-gap: 40px;
}

.header-item-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.header-item-paragraph:hover,
.header-item-paragraph:focus {
  color: var(--ocean);
}

.header-address-list {
  display: flex;
  column-gap: 40px;
}

.header-address-item a:hover,
.header-address-item a:focus {
  color: var(--ocean);
}

.header-address-email {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.header-address-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
