.portfolio-heading {
  margin-top: 120px;
  margin-bottom: 72px;
}

.portfolio-list {
  margin-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
}

.portfolio-card {
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  /* width: 360px;
  height: 120px; */
  padding-top: 32px;
  padding-left: 16px;
}

.portfolio-title {
  padding-bottom: 8px;
}

.portfolio-title,
.portfolio-paragraph {
  text-align: justify;
}

.portfolio-paragraph {
  padding-bottom: 32px;
}
