.section-team {
  background-color: var(--cloud);
  height: 732px;
}

.team-heading {
  padding-top: 120px;
  padding-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: var(--white);
}

.team-title {
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
}

.team-employes {
  padding-bottom: 32px;
}
